In [ ]:

import numpy as np
import pandas as pd

In [ ]:
# Cuando usas funciones como np.random.choice, np.random.rand, np.random.randint, etc., NumPy genera números aleatorios pseudoaleatorios (es decir, que en realidad se calculan con una fórmula matemática).
# Si no fijas una semilla (seed), cada vez que corras el código los resultados serán diferentes.
# Si sí fijas una semilla, obtendrás los mismos resultados cada vez que ejecutes el código

np.random.seed(42)  # para reproducibilidad

# Simular 30 ventas con montos normalmente distribuidos alrededor de 500 ± 100
monto_normal = np.random.normal(loc=500, scale=100, size=30).astype(int)

# Insertar algunos valores atípicos (muy altos y muy bajos)
monto_outliers = np.append(monto_normal, [50, 80, 2000, 3000])
# arr es un array de NumPy.
# arr.tolist() lo convierte en una lista de Python ([10, 20, 30]).
#El método np.random.choice() de NumPy sirve para seleccionar valores aleatorios de una lista, arreglo o rango.

ventas = {
    "id_venta": list(range(1, len(monto_outliers) + 1)),
    "producto": np.random.choice(
        ["Laptop", "Celular", "Tablet", "Audífonos", "Monitor"], 
        size=len(monto_outliers)
    ).tolist(),
    "cantidad": np.random.randint(1, 5, size=len(monto_outliers)).tolist(),
    "monto_venta": monto_outliers.tolist(),
    "ciudad": np.random.choice(
        ['Tunja','Bogota','Cali','Santa Martha','Amazonas','Medellin'],
        size=len(monto_outliers)).tolist(),
    "fecha_venta": pd.date_range("2023-01-01", periods=len(monto_outliers)).strftime("%Y-%m-%d").tolist()
}

df = pd.DataFrame(ventas)
display(df)

    id_venta   producto  cantidad  monto_venta        ciudad fecha_venta
0          1  Audífonos         3          549      Medellin  2023-01-01
1          2  Audífonos         1          486      Amazonas  2023-01-02
2          3  Audífonos         1          564          Cali  2023-01-03
3          4  Audífonos         1          652  Santa Martha  2023-01-04
4          5    Monitor         3          476      Medellin  2023-01-05
5          6     Tablet         1          476          Cali  2023-01-06
6          7     Laptop         4          657          Cali  2023-01-07
7          8  Audífonos         1          576         Tunja  2023-01-08
8          9    Celular         4          453          Cali  2023-01-09
9         10  Audífonos         4          554      Amazonas  2023-01-10
10        11    Celular         4          453      Medellin  2023-01-11
11        12    Celular         3          453          Cali  2023-01-12
12        13  Audífonos         3          524         Tunja  2023-01-13
13        14    Monitor         3          308      Amazonas  2023-01-14
14        15    Celular         1          327        Bogota  2023-01-15
15        16    Celular         4          443      Medellin  2023-01-16
16        17  Audífonos         3          398          Cali  2023-01-17
17        18    Celular         3          531         Tunja  2023-01-18
18        19    Celular         1          409        Bogota  2023-01-19
19        20  Audífonos         3          358        Bogota  2023-01-20
20        21  Audífonos         1          646  Santa Martha  2023-01-21
21        22     Laptop         2          477      Amazonas  2023-01-22
22        23    Monitor         3          506          Cali  2023-01-23
23        24    Monitor         2          357         Tunja  2023-01-24
24        25    Celular         1          445  Santa Martha  2023-01-25
25        26    Monitor         4          511      Amazonas  2023-01-26
26        27    Celular         3          384  Santa Martha  2023-01-27
27        28     Laptop         1          537      Medellin  2023-01-28
28        29  Audífonos         4          439      Amazonas  2023-01-29
29        30  Audífonos         4          470      Amazonas  2023-01-30
30        31  Audífonos         2           50          Cali  2023-01-31
31        32    Monitor         1           80      Amazonas  2023-02-01
32        33     Laptop         4         2000  Santa Martha  2023-02-02
33        34    Monitor         3         3000      Amazonas  2023-02-03

In [ ]:
#Reordenar columnas
df_reordenado= df[['id_venta','fecha_venta','producto','cantidad','monto_venta','ciudad']]
display(df_reordenado)

    id_venta fecha_venta   producto  cantidad  monto_venta        ciudad
0          1  2023-01-01  Audífonos         3          549      Medellin
1          2  2023-01-02  Audífonos         1          486      Amazonas
2          3  2023-01-03  Audífonos         1          564          Cali
3          4  2023-01-04  Audífonos         1          652  Santa Martha
4          5  2023-01-05    Monitor         3          476      Medellin
5          6  2023-01-06     Tablet         1          476          Cali
6          7  2023-01-07     Laptop         4          657          Cali
7          8  2023-01-08  Audífonos         1          576         Tunja
8          9  2023-01-09    Celular         4          453          Cali
9         10  2023-01-10  Audífonos         4          554      Amazonas
10        11  2023-01-11    Celular         4          453      Medellin
11        12  2023-01-12    Celular         3          453          Cali
12        13  2023-01-13  Audífonos         3          524         Tunja
13        14  2023-01-14    Monitor         3          308      Amazonas
14        15  2023-01-15    Celular         1          327        Bogota
15        16  2023-01-16    Celular         4          443      Medellin
16        17  2023-01-17  Audífonos         3          398          Cali
17        18  2023-01-18    Celular         3          531         Tunja
18        19  2023-01-19    Celular         1          409        Bogota
19        20  2023-01-20  Audífonos         3          358        Bogota
20        21  2023-01-21  Audífonos         1          646  Santa Martha
21        22  2023-01-22     Laptop         2          477      Amazonas
22        23  2023-01-23    Monitor         3          506          Cali
23        24  2023-01-24    Monitor         2          357         Tunja
24        25  2023-01-25    Celular         1          445  Santa Martha
25        26  2023-01-26    Monitor         4          511      Amazonas
26        27  2023-01-27    Celular         3          384  Santa Martha
27        28  2023-01-28     Laptop         1          537      Medellin
28        29  2023-01-29  Audífonos         4          439      Amazonas
29        30  2023-01-30  Audífonos         4          470      Amazonas
30        31  2023-01-31  Audífonos         2           50          Cali
31        32  2023-02-01    Monitor         1           80      Amazonas
32        33  2023-02-02     Laptop         4         2000  Santa Martha
33        34  2023-02-03    Monitor         3         3000      Amazonas

In [10]:
#Seleccionar columnas
df_seleccion = df[['id_venta','fecha_venta','producto']]
display(df_seleccion)

    id_venta fecha_venta   producto
0          1  2023-01-01  Audífonos
1          2  2023-01-02  Audífonos
2          3  2023-01-03  Audífonos
3          4  2023-01-04  Audífonos
4          5  2023-01-05    Monitor
5          6  2023-01-06     Tablet
6          7  2023-01-07     Laptop
7          8  2023-01-08  Audífonos
8          9  2023-01-09    Celular
9         10  2023-01-10  Audífonos
10        11  2023-01-11    Celular
11        12  2023-01-12    Celular
12        13  2023-01-13  Audífonos
13        14  2023-01-14    Monitor
14        15  2023-01-15    Celular
15        16  2023-01-16    Celular
16        17  2023-01-17  Audífonos
17        18  2023-01-18    Celular
18        19  2023-01-19    Celular
19        20  2023-01-20  Audífonos
20        21  2023-01-21  Audífonos
21        22  2023-01-22     Laptop
22        23  2023-01-23    Monitor
23        24  2023-01-24    Monitor
24        25  2023-01-25    Celular
25        26  2023-01-26    Monitor
26        27  2023-01-27    Celular
27        28  2023-01-28     Laptop
28        29  2023-01-29  Audífonos
29        30  2023-01-30  Audífonos
30        31  2023-01-31  Audífonos
31        32  2023-02-01    Monitor
32        33  2023-02-02     Laptop
33        34  2023-02-03    Monitor

In [ ]:
#Otro tipo de seleccion para columnas y filas
#Seleccionar todas las filas
df_log = df.loc[:,['producto','ciudad']]
display(df_log)

     producto        ciudad
0   Audífonos      Medellin
1   Audífonos      Amazonas
2   Audífonos          Cali
3   Audífonos  Santa Martha
4     Monitor      Medellin
5      Tablet          Cali
6      Laptop          Cali
7   Audífonos         Tunja
8     Celular          Cali
9   Audífonos      Amazonas
10    Celular      Medellin
11    Celular          Cali
12  Audífonos         Tunja
13    Monitor      Amazonas
14    Celular        Bogota
15    Celular      Medellin
16  Audífonos          Cali
17    Celular         Tunja
18    Celular        Bogota
19  Audífonos        Bogota
20  Audífonos  Santa Martha
21     Laptop      Amazonas
22    Monitor          Cali
23    Monitor         Tunja
24    Celular  Santa Martha
25    Monitor      Amazonas
26    Celular  Santa Martha
27     Laptop      Medellin
28  Audífonos      Amazonas
29  Audífonos      Amazonas
30  Audífonos          Cali
31    Monitor      Amazonas
32     Laptop  Santa Martha
33    Monitor      Amazonas

In [ ]:
#Seleccionar 10 filas
df_log = df.loc[0:10,['producto','ciudad']]
display(df_log)

     producto        ciudad
0   Audífonos      Medellin
1   Audífonos      Amazonas
2   Audífonos          Cali
3   Audífonos  Santa Martha
4     Monitor      Medellin
5      Tablet          Cali
6      Laptop          Cali
7   Audífonos         Tunja
8     Celular          Cali
9   Audífonos      Amazonas
10    Celular      Medellin

In [ ]:
#eliminando columnas
df_sin_fecha_venta = df.drop(columns=['fecha_venta','ciudad'])
display(df_sin_fecha_venta)

    id_venta   producto  cantidad  monto_venta
0          1  Audífonos         3          549
1          2  Audífonos         1          486
2          3  Audífonos         1          564
3          4  Audífonos         1          652
4          5    Monitor         3          476
5          6     Tablet         1          476
6          7     Laptop         4          657
7          8  Audífonos         1          576
8          9    Celular         4          453
9         10  Audífonos         4          554
10        11    Celular         4          453
11        12    Celular         3          453
12        13  Audífonos         3          524
13        14    Monitor         3          308
14        15    Celular         1          327
15        16    Celular         4          443
16        17  Audífonos         3          398
17        18    Celular         3          531
18        19    Celular         1          409
19        20  Audífonos         3          358
20        21  Audífonos         1          646
21        22     Laptop         2          477
22        23    Monitor         3          506
23        24    Monitor         2          357
24        25    Celular         1          445
25        26    Monitor         4          511
26        27    Celular         3          384
27        28     Laptop         1          537
28        29  Audífonos         4          439
29        30  Audífonos         4          470
30        31  Audífonos         2           50
31        32    Monitor         1           80
32        33     Laptop         4         2000
33        34    Monitor         3         3000

In [ ]:
#Filtrados condicionales
#Seleccion tradicionales
#Filtrar por ciudad
filtrado_ciudad = df[df['ciudad'] == 'Tunja'] [['id_venta','producto','ciudad']] 
display(filtrado_ciudad)

    id_venta   producto ciudad
7          8  Audífonos  Tunja
12        13  Audífonos  Tunja
17        18    Celular  Tunja
23        24    Monitor  Tunja

In [ ]:
#Filtrado por valor numerico
filtrado_monto = df[df['monto_venta'] > 600] [['id_venta','producto','monto_venta']] 
display(filtrado_monto)

    id_venta   producto  monto_venta
3          4  Audífonos          652
6          7     Laptop          657
20        21  Audífonos          646
32        33     Laptop         2000
33        34    Monitor         3000

In [ ]:
#Filtrado con log
#Es mas eficiente el codigo 
df.loc[df['monto_venta'] > 600,['id_venta','producto','monto_venta']]

    id_venta   producto  monto_venta
3          4  Audífonos          652
6          7     Laptop          657
20        21  Audífonos          646
32        33     Laptop         2000
33        34    Monitor         3000